*{
	 margin:0;
	 padding:0;
}

.headbar{
    width:1000px;
    height:100px;
    margin:0 auto;
}
    
.left{
    float: left;
    margin:20px 0px;
}
     
.right{
    float: right;
    margin:10px 0px;
}